rules_version = '2'; 
service cloud.firestore { 
    match /databases/{database}/documents { 
        match /Users/{userId} { 
            allow read, write: if request.auth != null && request.auth.uid == userId;
        } 
        match /Donors/{donorId}{
            allow read: if true;
            allow write: if request.auth != null && request.auth.uid == donorId;
        }
        match /UserTokens/{uid}{
            allow read, write: if request.auth != null && request.auth.uid == uid;
        }
        match /requests/{reqId}{
            allow create, read: if request.auth != null;
            allow update: if request.auth != null
                         && request.auth.uid == resource.data.fromUid;
        }
    }
}
